.ivy
logs
projects
scripts/.idea
scripts/target
scripts/project/target
sbt-plugins/.idea
sbt-plugins/project/project
sbt-plugins/project/target
sbt-plugins/target
projects-*.txt
projects.txt
scala-projects.csv
.Rhistory
.DS_Store
.RData
